{% extends 'base.html' %}
{% block content %}
<h1>Toup Up</h1>

<h5>Application: </h5>
<p>{{ application }}</p>

<h5>Name: </h5>
<p>{{ name }}</p>

<h5>Class: </h5>
<p>{{ class }}</p>

{% if not products %}
<p>Belum ada data product pada toup up.</p>
{% else %}
<table>
  <tr>
    <th>Product Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Available</th>
  </tr>
  {% for product in products %}
  <tr>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>{{product.quantity}}</td>
    <td>{{product.available}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br/>

<a href="{% url 'main:create_product' %}">
  <button>Add New product</button>
</a>
{% endblock content %}